# Node packages.
node_modules

# Build artifacts.
.next
out
build

# OS files.
.DS_Store
*.pem

# Debug artifacts.
npm-debug.log*

# Environment config.
.env

# TypeScript artifacts.
*.tsbuildinfo
next-env.d.ts

# Playwright artifacts.
playwright/output

# Docker files.
compose*.yml
Dockerfile
