# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node packages.
node_modules

# Build artifacts.
/.next
/out
/build

# OS files.
.DS_Store
*.pem

# Debug artifacts.
npm-debug.log*

# Environment config.
.env

# TypeScript artifacts.
*.tsbuildinfo
next-env.d.ts

# Database file.
*.sqlite

# Playwright artifacts.
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
