@import "tailwindcss";

@layer base {
  html {
    background: url(/paper.png) repeat 0 / 400px 400px, var(--color-orange-200);
    background-blend-mode: multiply;
    box-shadow: inset 0 0 6rem hsla(0, 100%, 10%, 0.5);
    min-height: 100dvh;
    font-size: 18px;
  }

  button {
    cursor: pointer;
  }
}
