@import "tailwindcss";

@layer base {
  html {
    background-color: hsl(30, 90%, 85%);
    background-image: url(/halftone.png), url(/paper.png);
    background-repeat: repeat;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 6rem hsla(30, 80%, 20%, 0.5);
    min-height: 100dvh;
    font-size: 18px;
  }

  button {
    cursor: pointer;
  }
}
